@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #ffffff;
  --grey: rgb(192, 191, 185);
  --purple-grey: #8f8297;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
  /* overflow: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
::-webkit-scrollbar {
  /* opacity: 0; */
  display: none;
  /* background-color: rgba(14, 2, 21, 0.8); */
  /* z-index: 0; */

}

input {
  font-family: "Inter", sans-serif;
}

.input-wrapper {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.input-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.center1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.podcast-flex {
  width: 90%;
  /* height: 100%; */
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.podcast-title-heading {
  text-align: left !important;
  width: 100%;
}
.banner-wrapper {
  background: linear-gradient(
    178deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.01) 148.18%
  );
  /* padding: 0.5rem 0.5rem 0 0.5rem; */
  padding: 0.5rem;
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}
.banner-wrapper img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 0.8rem;
}

.podcast-description {
  color: var(--purple-grey);
  text-align: left;
  width: 100%;
}
